// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-brand {
  font-weight: 800;
  color: $my-pink !important;
}

.btn-pink {
  color: #FFFFFF;
  background-color: $my-pink;
  border-color: $my-pink;
}

.bg-pink {
    background-color: $my-pink !important;
}
