// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-brand {
  font-weight: 800;
  color: #D81B60 !important;
}


.btn-pink {
  color: #FFFFFF;
  background-color: #D81B60;
  border-color: #D81B60;
}
